:root{
	--gridsize: 16;
}

.main{
	display: flex;
	justify-content: space-evenly;
}
.canvas{
	display: grid;
	height: 800px;
	width: 800px;
	gap: 2px;
	justify-content: center;
	grid-template-columns: repeat(var(--gridsize), 1fr);
}
.tile{
	width: auto;
	height: auto;
	background: Cornsilk;
	border-radius: 1px;
}
.sidebar{
	flex: 1;
}
.draw{
	background: black;
}

